---
layout: default
---

{% for post in site.posts limit:10 %}
  <div class="post">
    {% if post.link %}
    <h2 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a><span class="arrowlink">➜</span></h2>
    {% else %}
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {% endif %}

    <div class="post-content">
      {{ post.content }}
    </div>

    <a class="meta" href="{{ post.url }}">
      <time datetime="{{ post.date | date_to_xmlschema }}" class="date" pubdate="pubdate">{{ post.date | date_to_long_string }}</time>
      <span class="separator">•</span>
      <span class="permalink">∞</span>
    </a>
  </div>
{% endfor %}