---
layout: page
permalink: /reading
---

<h1 class="reading-page-title">Books I've Read</h1>

<p>These are the books I've read since the beginning of 2016, more or less in the order I read them. There aren't any buy links because I don't want to promote any online seller and I don't know of any open database with a good catalog. I get books from my local library, ebook downloads, or local bookstores.</p>

<h2>2017</h2>

{% for book in site.books_2017 reversed %}

<div class="reading-book">
  <h3 class="reading-book-title">{{ book.title }} <span class="reading-book-author">by {{ book.author }}</span></h3>
  {{ book.content }}
</div>

{% endfor %}

<h2>2016</h2>

{% for book in site.books_2016 reversed %}

<div class="reading-book">
  <h3 class="reading-book-title">{{ book.title }} <span class="reading-book-author">by {{ book.author }}</span></h3>
  {{ book.content }}
</div>

{% endfor %}
