/*** Normalize ***/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

h1 {
  font-size: 2em;
  margin: 1.5em 0 0;
  line-height: 1.2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.5em 0 0.5em;
  line-height: 1.2em;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

p {
  margin: 0.5em 0 1em 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

img {
  border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Main ***/

body {
  font: 100%/1.5 Charter, Georgia, serif;
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
  color: #454545;
  background: #fbfbfb;
}

.arrowlink {
  font-size: 75%;
  margin: 0 1em;
  color: #dcdcdc;
}

a {
  text-decoration: none;
  color: #ff4f00;
}

.header {
  margin: 0 auto 2em auto;
  padding: 1em 0;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header a:hover {
  color: #383838;
}

.title {
  display: inline-block;
  color: #454545;
  font-size: 1.25rem;
}

nav a,
nav a:visited {
  display: inline-block;
  color: #b6b6b6;
  margin-left: 0.8em;
}

.content {
  clear: right;
  max-width: 760px;
  margin: 2em auto;
}

.page-title,
.post-header {
  text-align: center;
  margin-bottom: 2em;
}

.post-title {
  font-size: 1.5em;
}

.page-title {
  margin: 0.67em 0;
}

.post-content a,
.page a {
  border-bottom: 1px solid #ffcbb3;
}

.post-content a:hover,
.page a:hover {
  border-bottom: 1px solid #ff7433;
}

.meta {
  font-size: 80%;
  color: #b6b6b6;
}

.reading-page-title {
  text-align: center;
  margin-bottom: 2em;
}

.reading-book-title {
  margin: 2em 0 0;
}

.reading-book-author,
.reading-book-author a {
  margin-top: 0;
  font: 100%/1.5 Charter, Georgia, serif;
  color: #767778;
  border-color: #aaa;
}

.reading-book-author a:hover {
  color: #ff4f00;
}

.wonder-banner-container {
  text-align: center;
}

.wonder-banner {
  width: 128px;
  height: 128px;
  border-radius: 22.41%;
  margin: 1em auto;
  display: block;
}

.wonder-tagline {
  font-size: 1.5rem;
  line-height: 1.25em;
  margin: 1.5em 0;
}

.wonder-learn-more {
  color: #333;
  padding: 0.5em 1.5em;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 0.5em;
  background: linear-gradient( #f5f5f5, #ebebeb);
  display: inline-block;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, .08), 0px 2px 3px 0px rgba(0, 0, 0, .08);
}

.wonder-learn-more:active {
  background: #ebebeb;
  box-shadow: none;
}

.jonathan-photo {
  width: 118px;
  float: right;
  margin: 0 0 1em 1em;
}

@media screen and (min-width: 480px) {
  body {
    width: 80%;
  }
  .header {
    margin-top: 2em;
  }

  .title {
    font-size: 1.5rem;
  }
  
  .post-title {
    font-size: 2em;
  }
  .jonathan-photo {
    width: 177px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1em;
    line-height: 1.785em;
  }
  .content {
    margin: 4em auto;
  }
  .post {
    margin: 4em 0 8em;
  }

  .wonder-banner {
    width: 256px;
    height: 256px;
  }

  .wonder-tagline {
    font-size: 2rem;
  }
}
