/*** Noromalize ***/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0.67em 0;
  line-height: 1.2em;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0.83em 0 0 0;
  line-height: 1.2em;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

p {
  margin: 0.5em 0 1em 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ol,
ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*** Main ***/

body {
  font: 100%/1.5 "chaparral-pro", georgia, serif;
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
  color: #444;
  background: #fbfbfb;
}

.arrowlink {
  font-size: 75%;
  margin: 0 1em;
  color: #dcdcdc;
}

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.15s linear;
     -moz-transition: color 0.15s linear;
      -ms-transition: color 0.15s linear;
       -o-transition: color 0.15s linear;
          transition: color 0.15s linear;
}

a:hover {
  color: #ff4f00;
}

a:active {
  color: #21acee;
}

.header {
  position: relative;
  margin: 2em auto;
  height: 60px;
  border-bottom: 2px solid #21acee;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -35px;
  width: 70px;
  height: 70px;
}

.logo img {
  width: 70px;
  height: 70px;
}

nav {
  float: right;
  margin: 0 1em;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #777;
}

nav a:hover {
  color: #383838;
}

.content {
  clear: right;
  max-width: 760px;
  margin: 2em auto;
}

.post {
  margin-bottom: 3em;
}

.post-title {
  font-size: 1.5em;
  margin: 2em 0 1em;
}

.post-content a,
.page a {
  border-bottom: 1px solid #ccc;
}

.meta {
  font-size: 80%;
  color: #b6b6b6;
}

@media screen and (min-width: 480px) {
  body {
    width: 80%;
  }
  .post-title {
    font-size: 2em;
    /*margin: 3em 0 1em;*/
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1em;
    line-height: 1.785em;
  }
  .header {
    margin: 2em auto;
  }
  nav li {
    margin: 1em 2em;
  }
  .content {
    margin: 4em auto;
  }
  .post {
    margin-bottom: 6em;
  }
}