.wonder-page {
  width: 100%;
  max-width: 100%;
}

.wonder-press-page {
  width: 90%;
  max-width: 1180px;
}

.wonder-content,
.wonder-press-content {
  clear: both;
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
}

.wonder-highlights {
  list-style: none;
  padding: 2em 0;
}

.wonder-highlights h3 {
  margin: 2em 0 0;
}

.wonder-press-content h2,
.wonder-content h2 {
  font-family: -apple-system-headline, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.wonder-intro,
.wonder-features {
  clear: both;
  padding: 3em 0;
  color: #f8f8f8;
  background: #363744;
}

.wonder-intro {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

.wonder-features {
  opacity: 0.8;
}

.wonder-features ul {
  padding-left: 1em;
}

.wonder-press-icon {
  width: 256px;
  height: 256px;
  border-radius: 22.41%;
  margin: 1em 0;
  display: block;
}

.wonder-press-banner {
  max-width: 100%;
  border-radius: 4px;
}

.wonder-press-footer {
  font-size: 0.8em;
  text-align: center;
  margin: 5em 0;
  padding: 5em 0;
  border-top: 1px solid #ddd;
  line-height: 1.5em;
}

.wonder-title {
  text-align: center;
  padding: 0 0 6em;
  font-family: -apple-system-headline, "Helvetica Neue", sans-serif;
}

.wonder-page .wonder-title {
  padding: 0 2em;
  margin: -6em 0 15em;
  background: rgba(255, 255, 255, 0.7);
}

.wonder-title h1 {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
  color: #454545;
}

.wonder-title h2 {
  margin: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #999;
}

.wonder-title-text {
  float: left;
  margin: 1.3em 0.8em;
}

.wonder-icon {
  width: 64px;
  height: 64px;
  border-radius: 22.41%;
  margin: 1em auto;
  display: block;
  float: left;
}

.wonder-description {
  margin-bottom: 3em;
}

.wonder-header {
  background: url(/assets/images/wonder-background.jpg) no-repeat 0 center;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6em;
}

.wonder-download {
  margin: 4em auto;
  display: block;
}

.wonder-download,
.wonder-download-image {
  width: 225px;
}

.wonder-download-title {
  display: none;
  margin-bottom: 0;
}

.wonder-download-header {
  position: absolute;
  top: 50%;
  height: 67px;
  margin-top: -33px;
  left: 50%;
  margin-left: -112px;
}

.wonder-iphone-screen {
  display: none;
}

.email-signup {
  display: none;
  text-align: center;
  margin-bottom: 3em;
  padding: 0.5em 0 1.5em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f8f8f8;
}

.email-signup-title {
  font-size: 1.1em;
}

.email {
  display: inline;
  width: 200px;
	font-size: 80%;
	text-align: left;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 10px;
	margin: 20px 10px 10px 0;
	-webkit-appearance: none;
}

.button {
  position: relative;
  display: inline;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 80%;
  background: #333;
  color: #fff;
  -webkit-appearance: none;
  cursor: pointer;
}

.button:active {
  background: #000;
}

.signature {
  margin-bottom: 3em;
  font-size: 1em;
}

.footer {
  text-align: center;
  margin-bottom: 5em;
  font-size: 0.8em;
}

.footer a {
  color: #111;
  text-decoration: underline;
}

.wonder-screenshots ul {
  padding: 0;
}

.wonder-screenshots li {
  list-style: none;
  width: 100%;
  float: left;
}

.wonder-screenshot {
  width: 320px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 0;
  margin: 0 auto 40px;
}

.wonder-screenshot img {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
}

.wonder-screenshot figcaption {
  font-family: -apple-system-headline, "Helvetica Neue", sans-serif;
  text-align: center;
}

@media screen and (min-width: 740px) {
  .wonder-title {
    margin: 2em 0;
    padding: 1em 0 2em;
  }

  .wonder-page .wonder-title {
    padding: 2em 2em;
    margin: 2em 0;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10%;
    width: 260px;
  }

  .wonder-header {
    margin-top: 0;
  }

  .wonder-icon {
    width: 128px;
    height: 128px;
    margin: 2em auto;
    float: none;
  }

  .wonder-title-text {
    float: none;
    margin: 0;
  }

  .wonder-iphone {
    height: 1000px;
    background: url(/assets/images/iPhone-6s-Space-Gray-vertical.png) no-repeat 0 0;
    background-size: 608px;
    width: 520px;
    float: left;
    margin-right: 5em;
    margin-left: -250px;
    margin-top: 0;
    margin-bottom: 5em;
  }

  .wonder-iphone-screen {
    display: block;
    margin: 200px 82px 199px 117px;
    width: 375px;
    border: none;
    border-radius: 0;
  }

  .wonder-highlights {
    padding-top: 10em;
  }

  .wonder-title h1 {
    font-size: 3em;
  }

  .wonder-title h2 {
    font-size: 1em;
  }

  .wonder-screenshots li {
    width: 50%;
  }

  .wonder-press-footer {
    padding: 5em;
  }
}

@media screen and (min-width: 1180px) {
  .wonder-page .wonder-title {
    padding: 2em 3em 3em;
  }

  .wonder-title h1 {
    font-size: 4.5em;
  }

  .wonder-title h2 {
    font-size: 1.5em;
  }

  .wonder-download-title {
    display: block;
  }

  .wonder-download-top {
    display: none;
  }

  .wonder-screenshots li {
    width: 33%;
  }
}
