.wonder-page {
  width: 100%;
  max-width: 100%;
}

.wonder-press-page {
  width: 90%;
  max-width: 1180px;
}

.wonder-content,
.wonder-press-content {
  clear: both;
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
}

.wonder-highlights {
  list-style: none;
  padding: 2em;
}

.wonder-highlights h3 {
  margin: 2em 0 0;
}

.wonder-press-content h2,
.wonder-content h2 {
  font-family: -apple-system-headline, "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.wonder-intro {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 3em 0;
  color: #C7C5DE;
}

.wonder-features {
  padding: 2em;
  color: #f8f8f8;
  background: #363744;
  background-image: radial-gradient(circle farthest-corner at bottom right, #575490 0, #363744 100%);
  background-image: radial-gradient(circle farthest-corner at bottom right, #3D3968 0, #2F2E45 100%);
  background: #353240;
}

.wonder-features ul {
  padding-left: 1em;
}

.wonder-press-icon {
  width: 256px;
  height: 256px;
  border-radius: 22.41%;
  margin: 1em 0;
  display: block;
}

.wonder-press-banner {
  max-width: 100%;
  border-radius: 4px;
}

.wonder-press-footer {
  font-size: 0.8em;
  text-align: center;
  margin: 5em 0;
  padding: 5em 0;
  border-top: 1px solid #ddd;
  line-height: 1.5em;
}

.wonder-header {
  padding: 3em 0;
  color: #f8f8f8;
  background: #363744;
  text-align: center;
  font-family: -apple-system-headline, "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  background: linear-gradient(#363744, #575490);
  background-image: radial-gradient(circle farthest-corner at 0 0, #575490 0, #363744 100%);
}

.wonder-page h2 {
  font-weight: normal;
  font-family: Charter;
}

.wonder-title {
  margin-top: 1em;
  font-size: 2em;
  text-transform: uppercase;
  opacity: 0.9;
}

.wonder-title h2 {
  margin: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #999;
}

.wonder-description {
  margin-bottom: 3em;
}

.wonder-title-text {
  font-family: -apple-system-headline, sans-serif;
  text-align: center;
}

.wonder-title-text h1 {
  font-size: 3rem;
  color: #454545;
  margin: 0;
}

.wonder-title-text h2 {
  font-size: 1rem;
}

.wonder-download {
  margin: 4em auto;
  display: block;
}

.wonder-download,
.wonder-download-image {
  width: 225px;
}

.wonder-download-title {
  display: none;
  margin-bottom: 0;
}

.wonder-download-top {
  margin-bottom: 0;
}

.wonder-iphone-screen {
  display: none;
}

.email-signup {
  display: none;
  text-align: center;
  margin-bottom: 3em;
  padding: 0.5em 0 1.5em;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #f8f8f8;
}

.email-signup-title {
  font-size: 1.1em;
}

.email {
  display: inline;
  width: 200px;
	font-size: 80%;
	text-align: left;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 10px;
	margin: 20px 10px 10px 0;
	-webkit-appearance: none;
}

.button {
  position: relative;
  display: inline;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 80%;
  background: #333;
  color: #fff;
  -webkit-appearance: none;
  cursor: pointer;
}

.button:active {
  background: #000;
}

.signature {
  margin-bottom: 3em;
  font-size: 1em;
}

.footer {
  text-align: center;
  margin-bottom: 5em;
  font-size: 0.8em;
}

.footer a {
  color: #111;
  text-decoration: underline;
}

.wonder-screenshots ul {
  padding: 0;
}

.wonder-screenshots li {
  list-style: none;
  width: 100%;
  float: left;
}

.wonder-screenshot {
  width: 320px;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 0;
  margin: 0 auto 40px;
}

.wonder-screenshot img {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
}

.wonder-screenshot figcaption {
  font-family: -apple-system-headline, "Helvetica Neue", sans-serif;
  text-align: center;
}

.wonder-icon {
  display: block;
  width: 128px;
  height: 128px;
  margin: 2rem auto;
  float: none;
  border-radius: 22.41%;
}

@media screen and (min-width: 740px) {
  .wonder-header {
    padding-bottom: 8em;
  }

  .wonder-download-top {
    float: right;
    margin: 80px 6%;
  }

  .wonder-iphone {
    width: 574px;
    height: 1000px;
    background: url(/assets/images/iphone-grand-canyon.png) no-repeat 69px 74px;
    background-size: 453px;
    float: left;
    margin-left: -250px;
    margin-top: -260px;
  }

  .wonder-iphone-screen {
    display: block;
    margin: 200px 82px 199px 117px;
    width: 375px;
    border: none;
    border-radius: 0;
  }

  .wonder-features {
    margin: 5em 0;
  }

  .wonder-highlights,
  .wonder-features {
    padding: 2em 2em 2em 320px;
  }

  .wonder-highlights {
    padding-top: 4em;
  }

  .wonder-highlights,
  .wonder-features ul {
    max-width: 620px;
  }

  .wonder-screenshots li {
    width: 50%;
  }

  .wonder-press-footer {
    padding: 5em;
  }
}

@media screen and (min-width: 1180px) {
  .wonder-header {
    padding: 5em 0 8em;
  }

  .wonder-iphone {
    margin-left: 0;
  }

  .wonder-highlights,
  .wonder-features {
    padding-left: 600px;
  }

  .wonder-download-title {
    display: block;
  }

  .wonder-screenshots li {
    width: 33%;
  }
}
