.wonder-press-page {
  width: 90%;
  max-width: 1180px;
}

.wonder-press-content {
  width: 90%;
  max-width: 680px;
  margin: 0 auto;
}

.wonder-title {
  text-align: center;
  margin: 2em 0;
}

.wonder-title h1 {
  margin: 0;
  font-size: 4.5em;
  text-transform: uppercase;
}

.wonder-title h2 {
  margin: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #999;
}

.wonder-icon {
  width: 64px;
  height: 64px;
  border-radius: 22.41%;
  margin: 1em auto;
  display: block;
}

.wonder-description {
  margin-bottom: 3em;
}

.email-signup {
  text-align: center;
  margin-bottom: 3em;
  padding: 0.5em 0 1.5em;
  background: #EEE;
  border-radius: 6px;
}

.email-signup-title {
  font-size: 1.1em;
}

.email {
  display: inline;
  width: 200px;
	font-size: 80%;
	text-align: left;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 10px;
	margin: 20px 10px 10px 0;
	-webkit-appearance: none;
}

.button {
  position: relative;
  display: inline;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 80%;
  background: #333;
  color: #fff;
  -webkit-appearance: none;
  cursor: pointer;
}

.button:active {
  background: #000;
}

.signature {
  margin-bottom: 3em;
  font-size: 1em;
}

.footer {
  text-align: center;
  margin-bottom: 5em;
  font-size: 0.8em;
}

.footer a {
  color: #111;
  text-decoration: underline;
}

.wonder-screenshots ul {
  padding: 0;
}

.wonder-screenshots li {
  list-style: none;
  width: 100%;
  float: left;
}

.wonder-screenshot {
/*
  display: inline-block;
  width: 100%;
  max-width: 100%;
*/
width: 320px;
  margin-top: 30px;
  margin-left: 0;
  margin: 0 auto 40px;
}

.wonder-screenshot img {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
}

.wonder-screenshot figcaption {
  font-family: Oswald;
  text-align: center;
}

@media screen and (min-width: 740px) {
  .wonder-title {
    margin: 4em 0;
  }

  .wonder-icon {
    width: 128px;
    height: 128px;
    margin: 2em auto;
  }

  .email-signup-title {
    font-size: 1.5em;
  }
  
/*
  .wonder-screenshot {
    width: 200px;
  }
*/
  
  .wonder-screenshots li {
    width: 50%;

/*     margin-right: 1%; */
  }
}

@media screen and (min-width: 1180px) {
/*
  .wonder-screenshot {
    width: 280px;
  }
*/
  
  .wonder-screenshots li {
    width: 33%;

/*     margin-right: 5%; */
  }

}
